<a href="https://colab.research.google.com/github/AdithyaAjayakumar/learn.py/blob/main/TASK_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Given a list l=[23, 45, 25 ,78, 90, 45, 22, 56, 99, 12, 9, 75, 32]

Write a single line program to display.

a) elements at even index in the list.

b) remove the 3 middle elements (45, 22 and 56)

In [3]:
#please write the code below this line
l=[23, 45, 25 ,78, 90, 45, 22, 56, 99, 12, 9, 75, 32]
print(l)
odd=[]
even=[]
for i in range(0, len(l)):
    if i % 2:
      even.append(l[i])
    else:
      odd.append(l[i])
list=even
print("elements at even index in the list:"+str(even))  
print(l[0:4]+l[8:])

[23, 45, 25, 78, 90, 45, 22, 56, 99, 12, 9, 75, 32]
elements at even index in the list:[45, 78, 45, 56, 12, 75]
[23, 45, 25, 78, 99, 12, 9, 75, 32]

2.Given a list lowerCase=['a', 'e', 'i', 'o', 'u']
Create a new list upperCase using list comprehension and copy the content of the lowerCase list, but in uppercase (capital letters). (upperCase should be ['A', 'E', 'I', 'O', 'U'])

In [4]:
#please write the code below this line
x=["a","e","i","o","u"]
x=[string.upper() for string in x]
print(x)

['A', 'E', 'I', 'O', 'U']

3.Given a tuple fruits = ("banana", "cherry", "apple", "grapes")
Create 3 variables yellow, red and green and assign them with fruits of their respective color.
(yellow="banana", red=["cherry", "apple"], green="grapes (hint- Use unpacking)

In [5]:
#please write the code below this line
x=["banana","cherry","apple","grapes"]
y=["yellow","red","green"]
yellow="banana"
red=["cherry", "apple"]
green="grapes"
print("yellow"+"="+str(yellow)+","+"red"+"="+str(red)+","+"green"+"="+str(green))

yellow=banana,red=['cherry', 'apple'],green=grapes